{%extends "index.html"%}
{%load static%}
{%block body%}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              At [My Company], we are more than just a security guard service provider – we are your partners in safety and protection. With years of experience in the security industry, we have established ourselves as a trusted leader in delivering comprehensive security solutions to businesses, organizations, and individuals alike.
            </p>
            <h4>Our Mission</h4>
            <p>Our mission is simple: to provide top-notch security services that exceed our clients' expectations. We are committed to safeguarding people, property, and assets with professionalism, integrity, and vigilance.</p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{%static 'images/a9.jpg'%}" alt="">
          </div>
        </div>

      </div>
      <h2>Why Choose Us?</h2>
      <h4 style="margin-top: 20px;">Professionalism:</h4>
      <p>Our team consists of highly trained security professionals who are dedicated to maintaining the highest standards of professionalism at all times. From our uniformed security guards to our management team, every member of our staff is committed to delivering exceptional service.</p>

        <h4 style="margin-top: 20px;">Reliability: </h4>
        <p>When you choose [Your Company Name], you can trust that your security needs will be met with reliability and consistency. We understand the importance of being dependable in the security industry, and we take pride in our track record of reliability.</p>

          <h4 style="margin-top: 20px;">Customer Focus:</h4>
          <p>We prioritize our clients' needs above all else. From the initial consultation to ongoing support, we are committed to providing personalized service and tailored security solutions that address your unique requirements.</p>

    </div>
  </section>
  {%endblock%}

  